<%- include("partials/header.ejs")%>

<div class="ui main text container ">

<div class="ui huge header">
	My Blogs
</div>


	<div class="ui top attached segment show" id="1">
		<div class="ui divided items "  >
			<%var j;var blog; for(j=0;j<4;j++){  blog=blogs[j];%>
		
		<div class="item">
			<div class="image">
				<img src="<%=blog.image%>">
			</div>
			
			<div class="content">
				<a class="ui header" href="/blogs/<%=blog._id%>"><%=blog.title%></a>
				<div class="meta">
					<span><%=blog.created.toDateString()%></span>
				</div>
				<div class="description">
					<p>
					<%-blog.body.substring(0,100)%>...
				</p>
				</div>
				<div class="extra">
					<a class="ui floated inverted orange button" href="/blogs/<%=blog._id%>">Read More<i class="chevron right icon"></i></a>					
				</div>
			
			</div>		
			</div>
			
	<%}%>

		</div>
	</div>
	<%var i; var p=4; var k=Math.ceil(blogs.length/4); for(i=1;i<k;i++){%>
	<div class="ui top attached segment disable" id="<%=i+1%>">
		<div class="ui divided items "  >
			<%var j;var blog; var t=p+4;if(p+4>blogs.length)t=blogs.length;for(j=p;j<t;j++){  blog=blogs[j];%>
		
		<div class="item">
			<div class="image">
				<img src="<%=blog.image%>">
			</div>
			
			<div class="content">
				<a class="ui header" href="/blogs/<%=blog._id%>"><%=blog.title%></a>
				<div class="meta">
					<span><%=blog.created.toDateString()%></span>
				</div>
				<div class="description">
					<p>
					<%-blog.body.substring(0,100)%>...
				</p>
				</div>
				<div class="extra">
					<a class="ui floated inverted orange button" href="/blogs/<%=blog._id%>">Read More<i class="chevron right icon"></i></a>					
				</div>
			
			</div>		
			</div>
			
			
	<%}%>
		</div>
	</div>	<%p=p+4;}%>
	
	

<div class="ui pagination menu">
  <a class="active item bt" href="#1" >
    1
  </a> 
	<%var i;  var k=Math.ceil(blogs.length/4); for(i=1;i<k;i++){%>
  <a class="item bt" href="#<%=i+1%>" > 
    <%=i+1%>
  </a>  <%}%>
</div>
	</div>
		

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/index.js" ></script>
<%- include("partials/footer.ejs")%>