<%- include("partials/header.ejs")%>
<link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
<link href="stylesheets/show.css" >
<div class="ui main text container segment">
	<div class="ui huge header">
		<%=blog.title%>
	</div>
	
	<div class="ui top attached"> 
		<div class="item">
			<img class="ui centered rounded image" src="<%=blog.image%>">
		</div>
		<div class="content">
			
		<span class="mydate"><%=blog.created.toDateString()%></span>
			<hr>
		</div>
		<br>
		<div class="description">
			<%-blog.body%>
		</div>
		<br>
		<% if(currentUser){%>
		<a href="/blogs/<%=blog._id%>/edit"><button class="ui inverted purple button">
				Edit Blog
			</button></a>
		
		<form action="/blogs/<%=blog._id%>?_method=DELETE" method="POST" id="delete">
			
			<button class="ui inverted red button">
				Delete Blog
			</button>
		</form>
		<%}%>
		
	</div>
		
		
</div>

<%- include("partials/footer.ejs")%>